<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <H1>Игры</H1>
    <ul>
    <li><a href="https://ru.wikipedia.org/wiki/Heroes_of_Might_and_Magic_III">Heroes3</a><button>Купить</button></li>
    <li><a href="https://ru.wikipedia.org/wiki/Heroes_of_Might_and_Magic_V">Heroes5</a><button>Купить</button></li>
    <li><a href="https://ru.wikipedia.org/wiki/Might_%26_Magic_Heroes_VI">Heroes6</a><button>Купить</button></li>
    <button><a href="http://127.0.0.1:8000">На главную</a></button>
</ul>
</body>
</html>